/* app/styles/editor.css */
.editor-shell {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editor-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ContentEditable__root {
  flex: 1;
  position: relative;
  resize: none;
  tab-size: 1;
  outline: 0;
  overflow-y: auto;
  padding: 1rem;
}

.editor-placeholder {
  color: #999;
  position: absolute;
  top: 1rem;
  left: 1rem;
  pointer-events: none;
}